.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

@media screen and (max-width:600px) {
    .shop-container {
        position: relative;
        max-height: 1000px;
    }
    .product-container {
        grid-template-columns: repeat(1, 1fr);
        top: 350px;
        position: relative;
    }
    .cart-container {
        position: absolute;
        top: 0;
        max-height: 200px;
    }
}